name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: JoseGarcia5537
          outputs: |
            dist/snake.svg

      - name: Commit snake
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist/snake.svg"
          message: "Update snake animation"
